.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.raptors{background-image:url(https://www.nba.com/assets/logos/teams/primary/web/TOR.svg);}
.rockets{background-image:url(https://www.nba.com/assets/logos/teams/primary/web/HOU.svg);}
.bucks{background-image:url(https://www.nba.com/assets/logos/teams/primary/web/MIL.svg);}
.warriors{background-image:url(https://www.nba.com/assets/logos/teams/primary/web/GSW.svg);}
.lakers{background-image:url(https://www.nba.com/assets/logos/teams/primary/web/LAL.svg);}
.clippers{background-image:url(https://www.nba.com/assets/logos/teams/primary/web/LAC.svg);}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.fakeRadio input[type=radio]:checked, .fakeRadio.active {
    opacity:0;
}

.center{
    text-align: center;
}
.body{
    margin-bottom: 200px;
    margin-right: 200px;
    margin-left: 200px;
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}